.pickup-not{
    background-color: aqua;
}
.pickup{
    background-color: white;
}
.checkout-site{
    font-size: 24px;
}
.delivery-pickup{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 15px;
}