.deliveryForm{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    row-gap: 10px;
}
.submit-button-del{
    font-family: Papyrus;
    text-align: center; 
    font-size: 33px;
    width: 170px;
    height: 50px;
    padding-top: 8px;
    justify-content: space-around;
    margin-top: 25px;
    border: 2px solid black;
}
/* .delivery-container{
    display: grid;
    grid-template-rows: 40px auto;
} */
.confirm-button{
    width: 120px;
}
.name{
    font-family: Papyrus;
}