.review-container{
    display: grid;
    grid-template-columns: auto auto;
}
.review-confirm{
    border: 2px solid black;
    width: 110px;
    padding: 5px;
    align-content: center;
    justify-content: center;
    color: black;
    font-family: Papyrus;
    text-align: center; 
    font-size: 30px;
    float: right;
    justify-content: space-around;
    margin-top: 25px;

}
.review-confirm:hover{
    background-color: lightslategray;
}