.review-container{
    display: grid;
    grid-template-columns: auto auto;
}
.confirm{
    border: 2px solid black;
    width: 80px;
    padding: 5px;
    align-content: center;
    justify-content: center;

}
.confirm:hover{
    background-color: lightslategray;
}