.bundle-view{
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    width: 250px;
    align-items: center;
    justify-content: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.bundle-view.hover{
    border: 5px solid black;
}