.add-cart{
    border: 2px solid #333;
    width: 80px;
    color: black;
    float: right;
    padding: 20px;
}
.bubble-item{
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    width: 40%;
    margin: auto;
    text-align: center;
}
.add-to-cart:hover{
    background-color: lightslategray;
}
.bubble-title{
    padding-top: 10px;
}
.bubble-image{
    width: 160px;
    height: 160px;
}